<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru-RU">

<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
    {% feed_meta %}
    {% seo %}
</head>

<body class="page-template-default page page-id-263 logged-in">
    <div id="page">
        <div id="header"><a href="#">Управление сайтом</a> | <a href="#">Выйти</a> </div>
        <div id="content">
            {% include sidebar.html %}
            <div class="LayCnt">
                
                {{ content }}

            </div>
        </div>
        <div id="footer">
            <div>
                Сайт работает на <a href="http://wordpress.org/" rel="nofollow">WordPress</a>
                <address>&copy; 2002&ndash;2012 <a href="/blog/info/">Argon</a></address>
            </div>
        </div>
    </div>
</body>

</html>